.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Здесь задается прозрачный затемненный фон */
    z-index: 999;
}

.interior.interior5 {
    .interior__bgimg {
        top: 0;
    }
}


.interior.interior5 .interior__container .interior__inner .interior__inner--element .interior__inner--headline .interior__headline--title {
    color: var(--gray-900, #1E212C);

    /* display/1 */
    font-family: Ubuntu;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 93.6px */
    letter-spacing: 1px;
}

.apply {
    margin-top: 120px;

    .aplly__container {
        display: flex;
        flex-direction: row;
        gap: 135px;

        .apply__container--column {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .apply__item {
                display: flex;
                width: 705px;
                height: 124px;
                padding-left: 40px;
                align-items: center;

                gap: 40px;
                flex-shrink: 0;
                border-radius: 4px;
                border: 1px solid var(--gray-300, #E5E8ED);
                background: var(--white, #FFF);

                &:hover {
                    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

                }

                .aplly__item--name {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 434px;

                    .apply__name--city {
                        display: flex;
                        flex-direction: row;
                        gap: 24px;

                        .apply__city--name {
                            color: var(--gray-700, #787A80);
                            display: flex;
                            gap: 10px;
                            /* small/regular */
                            font-family: Ubuntu;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            /* 21px */
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 1px;
                                height: 12px;
                                background: #787A80;
                                right: -13px;
                                top: 4px;
                            }
                        }

                        .aplly__city--time {
                            display: flex;
                            gap: 10px;
                            color: var(--gray-700, #787A80);
                            /* small/regular */
                            font-family: Ubuntu;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            /* 21px */
                        }
                    }

                    .apply__name--position {
                        color: var(--gray-900, #1E212C);

                        /* lead/bold */
                        font-family: Ubuntu;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 30px */
                    }
                }

                .apply__button {
                    width: 151px;
                    height: 44px;
                    color: var(--primary, #FF5A30);
                    text-align: center;
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                    /* 314.286% */
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    border-radius: 4px;
                    border: 1px solid var(--primary, #FF5A30);
                    cursor: pointer;

                    &:hover {
                        background-color: #FF5A30;
                        color: white;
                    }
                }
            }


        }
    }

    .apply__look {
        width: 390px;


        .apply__look--title {
            color: var(--gray-900, #1E212C);

            /* h3 */
            font-family: Ubuntu;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            /* 42px */
        }

        .apply__look--subtitle {
            color: var(--gray-800, #424551);
            margin-top: 23px;
            /* large/regular */
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 27px */
        }

        #subscribeButton {
            border-radius: 4px;
            background: none;
            width: 180px;
            height: 52px;
            color: var(--primary, #FF5A30);
            text-align: center;
            font-family: Ubuntu;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px;
            /* 325% */
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: 47px;

            &:hover {
                background: var(--primary, #FF5A30);
                color: var(--white, #FFF);
            }
        }

        #subscribeFormContainer {
            display: none;
            width: 486px;
            height: 412px;
            border-radius: 4px;
            border: 1px solid var(--gray-300, #E5E8ED);
            background: var(--white, #FFF);
            padding: 48px;
            padding-top: 24px;
            position: fixed;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            /* shadow/large */
            box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);


            .cross__btn {
                border: none;
                margin-left: 383px;
                background: none;
            }

            .form__title {
                color: var(--gray-900, #1E212C);
                text-align: center;
                margin-top: -5px;
                /* h3 */
                font-family: Ubuntu;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 42px */
            }

            #subscribeForm {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 24px;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    color: var(--gray-800, #424551);
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;

                    /* 21px */
                    input {
                        border-radius: 4px;
                        border: 1px solid var(--gray-400, #D7DADD);
                        background: var(--gray-200, #F4F5F6);
                        display: flex;
                        height: 44px;
                        padding-left: 15px;
                    }
                }

                .form__subscribe--btn {
                    height: 44px;
                    margin-top: 20px;
                    border-radius: 4px;
                    background: var(--primary, #FF5A30);
                    color: var(--white, #FFF);
                    text-align: center;
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                    /* 314.286% */
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }
            }


        }

        #sendCVButton {
            border-radius: 4px;
            background: none;
            width: 180px;
            height: 52px;
            color: var(--primary, #FF5A30);
            text-align: center;
            font-family: Ubuntu;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px;
            /* 325% */
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-left: 25px;

            &:hover {
                background: var(--primary, #FF5A30);
                color: var(--white, #FFF);
            }
        }

        #cvFormContainer {
            width: 486px;
            display: none;
            height: 781px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid var(--gray-300, #E5E8ED);
            background: var(--white, #FFF);
            padding: 48px;
            padding-top: 34px;
            /* shadow/large */
            position: fixed;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            /* shadow/large */
            box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);


            .cross__btn {
                border: none;
                margin-left: 383px;
                background: none;
            }

            .form__title {
                color: var(--gray-900, #1E212C);
                text-align: center;
                margin-top: -5px;
                /* h3 */
                font-family: Ubuntu;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 42px */
            }

            #cvForm {
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: 24px;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    color: var(--gray-800, #424551);
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;

                    /* 21px */
                    input {
                        border-radius: 4px;
                        border: 1px solid var(--gray-400, #D7DADD);
                        background: var(--gray-200, #F4F5F6);
                        display: flex;
                        height: 44px;
                        padding-left: 15px;
                    }

                    textarea {
                        border-radius: 4px;
                        border: 1px solid var(--gray-400, #D7DADD);
                        background: var(--gray-200, #F4F5F6);
                        height: 86px;
                    }
                }

                .form__send--btn {
                    height: 44px;
                    margin-top: 20px;
                    border-radius: 4px;
                    background: var(--primary, #FF5A30);
                    color: var(--white, #FFF);
                    text-align: center;
                    font-family: Ubuntu;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                    /* 314.286% */
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }

                .cv__file {
                    flex-direction: row;
                }
            }
        }
    }
}

.values.values4 {
    margin-top: 180px;
    margin-bottom: 180px;
}

@media screen and (max-width: 1800px) {
    .apply .apply__look #cvFormContainer {
        padding-top: 80px;
    }
}

@media screen and (max-width: 900px) {
    .apply .aplly__container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .interior.interior5 .interior__bgimg {
        top: 270px;

        img {
            width: 100%;
        }


    }

    .interior .interior__container .interior__inner {
        justify-content: center;
    }

    .apply .aplly__container .apply__container--column .apply__item .aplly__item--name {
        width: 100%;
    }


}

@media screen and (max-width: 500px) {
    .interior.interior5 .interior__container .interior__inner .interior__inner--element .interior__inner--headline .interior__headline--title {
        font-size: 35px;
    }

    .values.values4 {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .apply .aplly__container .apply__container--column .apply__item .apply__button {
        width: 100px;
        font-size: 10px;
    }

    .interior.interior5 .interior__bgimg {
        top: 150px;

        img {
            width: 100%;
        }


    }
.apply .apply__look{
    text-align: center;
}
    .apply .apply__look #subscribeFormContainer {
        width: 100%;
    }

    .apply .apply__look #cvFormContainer {
        width: 100%;
        height: auto;
        padding-top: 50px;

    }

    .apply .apply__look #cvFormContainer .cross__btn {
        margin-left: 280px;

    }

    .apply .apply__look #subscribeFormContainer .cross__btn {
        margin-left: 280px;
    }

    .interior.interior5 {
        min-height: auto;
    }

    .interior .interior__container .interior__inner .interior__inner--element .interior__inner--headline .interior__headline--subtitle {
        color: #1E212C;
        margin-top: 200px;
    }

    .apply {
        margin-top: 100px;
    }


    .apply .apply__look #sendCVButton {
        margin-left: 0;
        margin-top: 20px;
    }

    .apply .aplly__container .apply__container--column .apply__item {
        width: 100%;
        gap: 0;
        justify-content: space-between;
        padding-left: 0;
    }
}